@if (variant() === 'dropdown') {
  <div class="dropdown w-full" [class.dropdown-top]="dropdownTop()">
    <div
      tabindex="0"
      role="button"
      class="btn btn-sm w-full bg-anime-options [.dropdown:focus-within_&]:bg-anime-button-active"
    >
      {{ filterLabel() }}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="transition-transform duration-200 [.dropdown:focus-within_&]:rotate-180"
      >
        <path d="M0 0h16v16H0z" fill="none" />
        <path
          fill="currentColor"
          d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
        />
      </svg>
    </div>
    <ul
      tabindex="0"
      class="dropdown-content menu bg-anime-surface rounded-box z-10 p-2 shadow-sm"
      [ngClass]="filterLabel() === 'Género'
        ? 'w-[36rem] min-[80rem]:w-[52rem] min-[96rem]:w-[70rem]'
        : 'w-full'"
    >
      @if (filterLabel() == 'Estado' || filterLabel() == 'Orden') {
        <ng-container *ngTemplateOutlet="onlyOptionList"></ng-container>
      } @else {
        <ng-container *ngTemplateOutlet="multiplesOptionsList"></ng-container>
      }
    </ul>
  </div>
} @else {
  <div class="collapse collapse-arrow bg-anime-options">
    <input
      type="checkbox"
      [checked]="expanded()"
      (change)="onExpansionChange($event)"
    />
    <div class="collapse-title font-semibold">{{ filterLabel() }}</div>
    <div class="collapse-content">
      @if (filterLabel() == 'Estado' || filterLabel() == 'Orden') {
        <ng-container *ngTemplateOutlet="onlyOptionList"></ng-container>
      } @else {
        <ng-container *ngTemplateOutlet="multiplesOptionsList"></ng-container>
      }
    </div>
  </div>
}

<ng-template #multiplesOptionsList>
  <ul
    class="menu grid grid-cols-1 p-0 bg-anime-surface w-full rounded-xl"
    [ngClass]="filterLabel() === 'Género'
      ? 'min-[64rem]:grid-cols-3 min-[80rem]:grid-cols-4 min-[96rem]:grid-cols-6 gap-x-4'
      : ''"
  >
    @for (option of options(); track $index) {
      <li>
        <label class="flex items-center gap-2 cursor-pointer whitespace-nowrap">
          <input
            type="checkbox"
            class="checkbox checkbox-sm"
            [checked]="isChecked(option)"
            (change)="toggleOption(option, $event)"
          />
          {{ formatOptionLabel(option) }}
        </label>
      </li>
    }
  </ul>
</ng-template>

<ng-template #onlyOptionList>
  <ul
    class="menu grid grid-cols-1 p-0 bg-anime-surface w-full rounded-xl"
  >
    @for (option of options(); track $index) {
      <li>
        <label class="flex items-center gap-2 cursor-pointer whitespace-nowrap">
          <input
            type="radio"
            [name]="filterLabel()"
            class="radio"
            [checked]="isChecked(option)"
            (change)="selectSingleOption(option)"
          />
          {{ formatOptionLabel(option) }}
        </label>
      </li>
    }
  </ul>
</ng-template>
