@if (animeData(); as anime) {
  <div class="flex w-full flex-col gap-2 pt-4 lg:flex-row xl:px-30 pb-10">
    <div
      class="w-full lg:w-64 sm:flex sm:justify-center flex justify-center lg:shrink-0 lg:sticky lg:top-0 self-start"
    >
      <anime-sidebar [animeCover]="anime.cover" [rating]="anime.rating" [status]="anime.status" />
    </div>

    <div class="w-full min-w-0 flex-1">
      <app-anime-info
        [title]="anime.title"
        [category]="anime.type"
        [alternativeTitles]="anime.alternative_titles"
        [synopsis]="anime.synopsis"
        [genres]="anime.genres"
        [year]="anime.year"
      >
      </app-anime-info>

      <anime-timeline [related]="anime.related"></anime-timeline>

      <episode-toolbar [(descending)]="descending" [(episodeQuery)]="episodeQuery"/>

      <div
        class="max-h-105 lg:max-h-155 overflow-y-auto rounded-xl border border-anime-button/30 bg-anime-main-background/60"
      >
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-4 p-4">
          @for (item of filteredEpisodes(); track item.number) {
            <div class="card bg-anime-navy rounded-2xl overflow-hidden w-full shrink-0">
              <episode-card
                [episodeNumber]="item.number"
                [cover]="item.number | addCoverEpisode : anime.cover"
                [url]="item.url"
                [slug]="item.slug"
              />
            </div>
          }
        </div>
      </div>
    </div>
  </div>
} @else if (loadError()) {
  <p>No se pudo cargar el anime.</p>
} @else {
  <app-spinner />
}
