<p class="font-title text-3xl font-bold">{{title()}}</p>
<div class="flex flex-row flex-wrap items-center pt-4 gap-2 sm:gap-4">
  <span class="badge badge-info text-white font-bold whitespace-nowrap">{{ category() }}</span>
  <span class="badge badge-info text-white font-bold whitespace-nowrap">{{ year() }}</span>
  <p class="min-w-0 wrap-break-word text-anime-cyan">{{ alternativeTitles() }}</p>
</div>

<div class="pt-4">
  <p class="text-wrap text-justify">{{ synopsis() }}</p>
</div>

<div class="flex flex-row flex-wrap gap-4 pt-4">
  @for (genre of genres(); track genre) {
    @if (getGenreValue(genre); as value) {
      <a
        class="btn bg-anime-button hover:bg-anime-button-active"
        [routerLink]="['/catalog']"
        [queryParams]="{ genre: value, page: 1, status: 'finalizado', order: 'default' }"
      >
        {{ genre }}
      </a>
    } @else {
      <span class="btn bg-anime-button">{{ genre }}</span>
    }
  }
</div>
